<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>559634558635-no7vtg8p1bkb6hn5i77vb93he3ta04g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559634558635-no7vtg8p1bkb6hn5i77vb93he3ta04g1</string>
	<key>API_KEY</key>
	<string>AIzaSyAAizHiIpkP_crzneweUSb9vaMfbMB49yA</string>
	<key>GCM_SENDER_ID</key>
	<string>559634558635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DineIn.User</string>
	<key>PROJECT_ID</key>
	<string>dinein-c2d0e</string>
	<key>STORAGE_BUCKET</key>
	<string>dinein-c2d0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559634558635:ios:2ad73bed5b743cc0</string>
	<key>DATABASE_URL</key>
	<string>https://dinein-c2d0e.firebaseio.com</string>
</dict>
</plist>